@import url(./__description/about-author__description.css);
@import url(./__img/about-author__img.css);
@import url(./__subtitle/about-author__subtitle.css);
@import url(./_about/about-author_about.css);

.about-author {
  width: calc(100%-208px);
  color: #1A1B22;
  display: flex;
  flex-direction: row;
  white-space: pre-line;
}

@media screen and (max-width: 1280px) {
  .about-author {
    width: calc(100%-104px);
  }
}

@media screen and (max-width: 668px) {
  .about-author {
    flex-direction: column;
    width: calc(100%-48px);

  }
}