.search__input {
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  min-width: 608px;
  min-height: 64px;
  flex-grow: 2;
  font-family: 'Roboto';
  text-indent: 24px;
}

.search__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.search__input:focus {
  outline: none;
}