.search__input {
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  min-width: 608px;
  min-height: 64px;
  flex-grow: 2;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  text-indent: 24px;
}

.search__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media screen and (max-width: 768px) {
  .search__input {
    min-width: 448px;
  }
}

@media screen and (max-width: 510px) {
  .search__input {
    min-width: 400px;
  }
}

@media screen and (max-width: 440px) {
  .search__input {
    min-width: 370px;
  }
}

@media screen and (max-width: 405px) {
  .search__input {
    min-width: 288px;
  }
}