.search-result__button {
  background: #FFFFFF;
  border-radius: 80px;
  min-width: 288px;
  min-height: 64px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
}

.search-result__button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.search-result__button:active {
  color: #1A1B22;
}