.analytics__wrapper {
  width: calc(100%-208px);
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .analytics__wrapper {
    width: calc(100%-104px);
  }
}

@media screen and (max-width: 630px) {
  .analytics__wrapper {
    width: calc(100%-50px);
  }
}

@media screen and (max-width: 405px) {
  .analytics__wrapper {
    width: calc(100%-28px);
  }
}