.root__section {
  /* width: calc(100% - 104px); */
  margin: 0 auto;
  padding-top: 80px;
}

@media screen and (max-width: 980px) {
  .root__section {
    width: 90%;
  }
}

.root__section:first-child {
  padding-top: 0;
}