@import url(./__container/history__container.css);
@import url(./__swipe-container/history__swipe-container.css);
@import url(./__swipe-slides/history__swipe-slides.css);
@import url(./__swipe-slide/history__swipe-slide.css);
@import url(./__swipe-wrapper/history__swipe-wrapper.css);
@import url(./__swipe-prev-button/history__swipe-prev-button.css);
@import url(./__swipe-next-button/history__swipe-next-button.css);
@import url(./__swipe-pagination/history__swipe-pagination.css);
@import url(./__button/history__button.css);
@import url(./__link/history__link.css);

.history {
  background-color: #F5F6F7;
  overflow: hidden;
  width: 100%;
}