.analytics__bar-item {
  grid-column-start: 1;
  grid-column-end: 101;
  background-color: #2F71E5;
  height: 24px;
  display: flex;
  align-items: center;
}

.analytics__bar-item:last-child {
  margin-bottom: 0;
}