.technologies__items {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-gap: 60px;
  justify-content: center;
}

@media screen and (max-width: 1082px) {
  .technologies__items {
    grid-gap: 40px;
    justify-content: start;
  }
}

@media screen and (max-width: 760px) {
  .technologies__items {
    grid-template-columns: repeat(auto-fill, 120px);
  }
}