.search__button {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  min-width: 168px;
  max-height: 64px;
  margin-top: 0;
  transform: translate(-100%);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.search__button:hover {
  cursor: pointer;
  background-color: #347EFF;
}

.search__button:active {
  background: #2A65CC;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}