.card__data {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 20px 0 12px 0;
}