.header__menu-item {
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
  color: #B6BCBF;
  margin: 0 34px 0 0;
  border-bottom: 3px solid  transparent;
}

.header__menu-item:hover {
  color: #fff;
  cursor: pointer;
}