.footer__menu-item {
  list-style-type: none;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
  margin-right: 40px;
}

.footer__menu-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .footer__menu-item {
    margin-right: 25px;
  }
}

@media screen and (max-width: 760px) {
  .footer__menu-item {
    text-align: left;
    line-height: 48px;
  }

  .footer__menu-item:last-child {
    margin-bottom: 20px;
  }
}