.technologies__container {
  margin: 0 auto;
  width: calc(100%-208px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .technologies__container {
    width: calc(100%-104px);
  }
}

@media screen and (max-width: 1015px) {
  .technologies__container {
    flex-direction: column;
    justify-content: start;
  }
}

@media screen and (max-width: 630px) {
  .technologies__container {
    width: calc(100%-50px);
  }
}

@media screen and (max-width: 405px) {
  .technologies__container {
    width: calc(100%-28px);
  }
}