.about-author__subtitle {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  max-width: 600px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}